body{
    background-color: #A3C2C2;
}


#grad_data {
    
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 3px;
    
}
td{
    text-align: center;
    vertical-align: middle;
    border: 3px solid #fe471a;
    padding: 5px;
    border-radius: 3px;
}
th{
    text-align:center;
    background-color: #fe471a;
    border: 3px solid #fe471a;
    border-radius: 3px;
    padding: 10px;
}
h3{
    text-align: center;
}
iframe{
    align: middle;
    scrolling: auto;
}